.l-footer {
  color: darken($light-gray, 40%);
  height: 160px;
  background-color: $dark-gray;

  .event-inline .date {
    font-family: $headings-font-family;
    text-transform: uppercase;
    width: 50px;
    display: inline-block;
    font-size: 13px;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
  }
  a {
    color: darken($light-gray, 20%);
  }
  ul.horizontal {
    margin-top: 30px;
    display: flex;
  }
  ul.vertical {
    text-align: left;

    li {
      margin-left: 15px;
    }
  }
  .copyright {
    align-self: center;
  }
  p {
    margin: 0;
  }
}
