.home {
  /* Navbar */
  .navbar-brand {
    display: none;
  }
  .navbar {
    background-color: transparent;
    border-bottom: 1px solid hsla(0, 0%, 90%, 0.2);
  }
  @media (min-width: $screen-sm-min) {
    .navbar-collapse {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
  /* Hero Unit */
  .top-image {
    @include dotty-overlay;

    background-image: image-url('hackathon.jpg');
    background-size: cover;
    background-position: top center;
    height: calc(100vh - 100px);
    width: 100vw;

    .top-image .alert {
      max-width: 300px;
      margin: 20px auto;
    }
    img {
      max-width: 70%;
    }
  }
  /* Displayed Events */
  .recent-events {
    @include make-row;

    margin: 0;
  }
  .footer {
    display: none;
  }
}
