.l-events .map {
  height: 350px;
}
.event-stats {
  display: flex;
  align-items: center;
  height: 150px;
  color: $light-gray;
  background-color: $orange;
  text-align: center;
  font-family: 'Josefin Sans';
  text-transform: uppercase;

  .text {
    margin-top: 15px;
    display: block;
  }
}

