.event-block {
  @include dotty-with-hover;
  @include make-sm-column(6);

  background-size: cover;
  background-position: center;
  align-items: flex-start;
  justify-content: flex-start;
  height: 300px;
  color: white;
  text-decoration: none !important;
  position: relative;

  &::after {
    opacity: 0.8;
  }
  // HACK: Brought to you by nested links
  .overlay-link {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
  }
  .inner {
    position: static;
    z-index: initial;

    &> h2 {
      position: relative;
      z-index: 2;
    }
    &> .registration {
      position: relative;
      z-index: 10;
    }
  }
  // ENDHACK
  .label {
    font-size: 30%;
    vertical-align: middle;
  }
  .registration {
    margin-top: 70px;
    opacity: 1;
    transition: .2s ease-in-out;
  }
  &:hover .registration {
    opacity: 1;
  }
}

.event-block-wide {
  width: calc(100% + 30px);
  margin: 0 -15px;
  align-items: center;

  .registration {
    margin-top: 15px;
    opacity: 1;
  }
}
@media (min-width: $screen-sm-min) {
  .event-block .registration { opacity: 0; }
  .event-block-wide .registration { opacity: 1; }
}
