.hero-image {
  @include dotty-overlay;

  background-size: cover;
  background-position: center;
  width: 100%;
  width: calc(100% + 30px);
  margin: 0 -15px;
  height: 400px;
  color: white;

  h2 {
    font-size: 70px;
  }
}
