.sponsorship-tier {
  .fa-certificate {
    margin: 0 5px;
  }
  h4 {
    display: flex;
    flex-direction: column;
  }
  .price {
    margin-top: -50px;
    margin-bottom: calc(50px - 1em);
    color: hsl(0, 100%, 100%);
  }
  ul {
    max-width: 250px;
    margin: 20px auto;
    text-align: left;
    height: 100px;
    width: 100%;
    padding-left: 30px;
  }
  .btn {
    margin-top: auto;
  }
}

.sponsorship-cta-tiers {
  display: flex;
}

.sponsorship-cta .sponsorship-tier {
  text-align: center;
  border-right: 1px solid $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;

  &:last-child {
    border: none;
  }
}

.sponser {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

// We misspell "sponsor" intentionally to avoid triggering AdBlock
.sponser-logo {
  width: 80%;
  display: block;
  margin: 0 auto;
}
