@mixin dotty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after {
    height: 100%;
    width: 100%;
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: image-url('dot-overlay.png') repeat left top hsla(0, 0%, 0%, 0.5);
  }
  .inner {
    position: relative;
    z-index: 2;
  }
}
.home {
  .top-image {
    @include dotty;

    background-image: url('http://valleyhackathon.com/img/2015/2015-5.JPG');
    background-size: cover;
    background-position: top center;
    height: calc(100vh - 100px);
    width: 100vw;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-collapse {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    background-color: transparent;
    border-color: hsla(0, 0%, 90%, 0.2);
  }
}
